@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ticket System</h1>
    <div class="row mt-5">
      <div class="col-md-4">
        <h2>
          <a class="btn btn-primary" href="/User" role="button">Users</a>
        </h2>
      </div>
      <div class="col-md-4">
        <h2>
          <a class="btn btn-primary" href="/Product" role="button">Products</a>
        </h2>
      </div>
      <div class="col-md-4">
        <h2>
          <a class="btn btn-primary" href="/Ticket" role="button">Tickets</a>
        </h2>
      </div>
    </div>
</div>
